* {
	font-size:inherit;
	font-family:inherit;
	text-align:inherit;
}
@media screen and (max-width:481px){}

body {
	font-size:12pt;
	font-family:Helvetica,Times,Verdana,Arial,sans-serif;
	background:#aaa;
	padding:3px;margin:0px;
	text-align:center;
}
h1{font-size:16pt;text-align:center;}
h2{font-size:14pt;text-align:center;}
h3{font-size:10pt;text-align:center;}
h4{font-size:8pt;text-align:center;}
img {margin:0;padding:0;border:0;}
p {text-align:left; margin:2px;}
a,a:visited,a:focus {text-decoration:none;color:#00C;}
a:hover {text-decoration:none;color:#3FA;background-color:#777;}
a:hover>img {background-color:#aaa;}
button,input,textarea,select {
	font-size:14pt;
	border:1px solid black;
	border-radius:5px;
	padding:1px 4px;
	margin:1px;
	background-color:#DDD;
}
select,button,input[type="button"],input[type="submit"],input[type="reset"] {
	cursor:pointer;
	/*background-color:#AAA;*/
	background-color: #7C7;
	font-size:12pt;
}

table {margin:0;padding:0;border:none;empty-cells:show;}
td,th {vertical-align:text-top;margin:0;padding:0;border:0;}
tr.sp>td {background-color:white;padding:2px;}

fieldset{
	display:inline;
	background-color:#BBB;
	border:1px solid grey;
}
fieldset>legend{
	font-weight:bold;
	background-color:#BBB;
	border:1px solid grey;
	border-bottom:0px;
	padding:1px 5px;
}
fieldset>table>tbody>tr>td{
	padding:2px 5px;
}

.content {text-align:center;}
.nodisp {display:none;}
.pack {display:inline-block;}
.border-in{border:2px solid lightgrey;border-radius:3px;}
.border1{border:1px solid black;}
.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}
.nowrap {white-space:nowrap;}
.abs {position:absolute;}

.autocomplete-loading {
	position:absolute;
	display:none;
}
.autocomplete-loading>img {
	position:relative;
	padding:5px;
	left:-30px;
}
.autocomplete {
	text-align:left;
	position:absolute;
	display:none;
	background-color:rgba(150,150,150,0.9);
	border-radius:5px;
	margin:0 1px;
	overflow-x:hidden;
	overflow-y:auto;
	max-height:50%;
}
.autocomplete>ul {
	position:relative;
	padding:3px 5px;
	margin:0;
}
.autocomplete>ul>li {
	padding:0px 3px;
	list-style:none;
	cursor:pointer;
	border-radius:5px;
}
.autocomplete>ul>li:hover {
	background-color:rgba(200,200,200,1);
}

.abs-right {position:absolute;right:100px;}
.abs-right>div {
	position:relative;
	white-space:nowrap;
	display:inline;
	right:-100%;
}
.abs-center {position:absolute;left:50%;}
.abs-center>div{
	position:relative;
	display:inline;
	left:-50%;
}
