* {
	font-size:inherit;
	font-family:inherit;
}
@media screen and (max-width:481px){}

body {
	font-size:12pt;
	font-family:Helvetica,Times,Verdana,Arial,sans-serif;
	background:#aaa;
	padding:3px;margin:0px;
	text-align:center;
}
h1{font-size:16pt;text-align:center;}
h2{font-size:14pt;text-align:center;}
h3{font-size:10pt;text-align:center;}
h4{font-size:8pt;text-align:center;}
img {margin:0;padding:0;border:0;vertical-align:middle;}
div {text-align:left};
p {text-align:left; margin:2px;}
a,a:visited,a:focus {text-decoration:none;color:#00C;}
a:hover {text-decoration:none;color:#3FA;background-color:#777;}
a:hover>img {background-color:#aaa;}
button,input,textarea,select {
	font-size:14pt;
	border:1px solid gray;
	border-radius:5px;
	padding:1px 4px;
	margin:1px;
	background-color:#DDD;
}
select,button,input[type="button"],input[type="submit"],input[type="reset"] {
	cursor:pointer;
	background-color: #7C7;
	font-size:12pt;
}

table {margin:0;padding:0;border:none;empty-cells:show;}
td,th {vertical-align:middle;text-align:center;margin:0;padding:0;border:0;}
tr.sp>td {background-color:white;padding:2px;}

fieldset{
	display:inline;
	background-color:#BBB;
	border:1px solid grey;
}
fieldset>legend{
	font-weight:bold;
	background-color:#BBB;
	border:1px solid grey;
	border-bottom:0px;
	padding:1px 5px;
}
fieldset>table>tbody>tr>td{
	padding:2px 5px;
}

.b1{border:1px solid black;}
.content {text-align:center;}
.nodisp {display:none;}
.pack {display:inline-block;}
.abs {position:absolute;}

.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}
.top {vertical-align:top;}
.mid {vertical-align:middle;}
.bot {vertical-align:bottom;}

.nowrap {white-space:nowrap;}
.bold {font-weight:bold;}
input.disabled {background-color:#888;}

.loading {
	z-index:100;
	position:absolute;
	display:none;
}
.loading>img {
	position:relative;
	padding:5px;
}

/* Autocomplete input */
.autocomplete {
	text-align:left;
	position:absolute;
	display:none;
	background-color:rgba(150,150,150,0.9);
	border-radius:5px;
	margin:0 1px;
	overflow-x:hidden;
	overflow-y:auto;
	max-height:50%;
}
.autocomplete>ul {
	position:relative;
	padding:3px 5px;
	margin:0;
}
.autocomplete>ul>li {
	padding:0px 3px;
	list-style:none;
	cursor:pointer;
	border-radius:5px;
}
.autocomplete>ul>li:hover {
	background-color:rgba(200,200,200,1);
}

/* Dropdown list
 * the structure have to be:
 * <div class="ddlist">
 *    <input type="button" onclick="">
 *    <div>
 *    <ul><li>...
 *    </div>
 * </div>
 */
.ddlist {
	display:inline-block;
}
.ddlist>div {
	position:absolute;
	display:none;
	margin-top:1px;
	padding-top:1px;
	padding-right:10px;
	border:1px solid gray;
	background-color:#999;
	border-radius:5px;
	overflow-x:hidden;
	overflow-y:auto;
	max-height:50%;
}
.ddlist>div ul {
	padding:3px 5px;
	margin:0;
}
.ddlist>div ul>li {
	padding:1px 3px;
	list-style:none;
	cursor:pointer;
	border-radius:5px;
	white-space:nowrap;
}
.ddlist>div ul>li:hover {
	background-color:#CCC;
}
ul.horiz>li {
	display:inline;
}

.abs-right {position:absolute;right:100px;}
.abs-right>div {
	position:relative;
	white-space:nowrap;
	display:inline;
	right:-100%;
}
.abs-center {position:absolute;left:50%;}
.abs-center>div{
	position:relative;
	display:inline;
	left:-50%;
}
