<FilesMatch "^\.ht">
	Order allow,deny
	Deny from all
</FilesMatch>

# this makes server error 500
#AllowOverride All

#Options +FollowSymlinks
#Options All -Indexes

# Apache config (not lighttpd!!!)
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !=index.php
RewriteRule .* index.php [QSA,L]

# alternative (everyfing handle with index.php)
#RewriteRule ^((?!index\.php).+)$ /index.php [QSA,L]

# lighttpd configuration
#url.redirect += ("^/kysoft/espdb([^/].*)$" => "/kysoft/espdb/$1")
#url.rewrite-once += ( "^/kysoft/espdb/.*?(\?.*)?$" => "/kysoft/espdb/index.php$1" )
#url.rewrite-once += ( "^/kysoft/espdb(.*)?$" => "/kysoft/espdb/$1" )

